.media
  = link_to '#', class: 'pull-left' do
    = image_tag @user.instagram_profile_picture,
      alt: @user.instagram_username,
      class: 'media-object img-polaroid profile'
  .media-body
    %h4.media-heading== @#{@user.instagram_username}
    %p This is some bio copy that needs to be pulled from Instagram and stored in the database.

%h3 Up For Grabs!
%ul.thumbnails
  - @user_client.tag_recent_media("kidsclothesforsale", 
    user: @user.instagram_username,
    count: 4).each do |item|
    %li.span3
      .thumbnail
        = image_tag item.images.low_resolution.url, alt: item.user.username
        %p= item.caption.text
