!!!
%html{lang: 'en'}
  %head
    %meta{ name: 'viewport',  content: 'width=device-width, initial-scale=1.0' }
    %title Snapup
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a{ class: "btn btn-navbar", "data-toggle" => "collapse", "data-target" => ".nav-collapse" }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Snap Up Shop", root_path, class: "brand"
          .nav-collapse.collapse
            - if current_user
              %ul.nav
                %li= link_to "Home", user_home_path
                %li= link_to "Storefront", current_user
          %ul.nav.pull-right
            - unless current_user
              %li= link_to "Sign in With Instagram", Instagram.authorize_url(redirect_uri: oauth_callback_url)
            - else
              %li= link_to "Log Out", log_out_path
    .container
      = yield
